.container {
    width: 300px;
    height: 800px;
    margin: 50px auto;
    text-align: center;
}

.title {
    height: 150px;
    background-image: url('main.jfif');
    background-position: center;
    background-size: cover;
    font-size: 25px;
    padding-top: 20px;
    font-weight: 400;
    color: white;
}

input {
    margin: 20px 0;
    width: 80%;
}

.match-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(20px);
}


